table{
    border-spacing: 10px;
    margin: auto;
    width: 50%;
    border-top: thick dotted orange;
    border-bottom: medium dashed green;
    margin-top: 15%;
}

td, th{
    border: thin solid black;
    text-align: center;
    padding: 10px;
}

th#firstName{
    background-color: limegreen;
}
th#lastName{
    background-color: purple;
}
th#college{
    background-color: beige;
}
th#major{
    background-color: pink;
}

.uppercase{
    text-transform: uppercase;
}